body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url(pexels-joshsorenson-1154510.jpg);
  text-align: center; 
}
.quotes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.quote {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color:  #76aacf;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
h1 {
  color:aqua;
  font-family:Arial, Helvetica, sans-serif
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #76aacf;
}
th {
  background-color: #5372d9;
}
.input-section, .summary-section {
  display: inline-block; 
  text-align: left; 
  margin-top: 20px;
  background-color: #75b4ef;
  padding: 20px; 
  border: 1px solid #ddd; 
  border-radius: 5px; 
}